<hr/>
<footer class="section footer-classic context-dark bg-image">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <p>Shop Hajino là chuyên trang cung cấp các thông tin về mỹ phẩm, thẩm mỹ viện, trung tâm chăm sóc sắc đẹp cũng như các kinh nghiệm làm đẹp cho mọi người. Chúng tôi mong muốn tạo ra một website tin cậy, nơi thành viên chia sẻ những bí quyết làm đẹp và những đánh giá khách quan, chân thực nhất của bản thân, giúp các thành viên khác có thể lựa chọn mỹ phẩm, nơi chăm sóc sắc đẹp phù hợp với bản thân mình cũng như có nhiều kinh nghiệm hơn trong việc sử dụng các sản phẩm làm đẹp.</p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span class="Shop Hajino">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Chi nhánh TP. Hồ Chí Minh:</dt>
                    <dd>Phòng 702-703, Lầu 7, toà nhà Hà Đô Airport, số 02 đường Hồng Hà, phường 2, quận Tân Bình, TP. Hồ Chí Minh</dd>
                </dl>
                <dl class="contact-list">
                    <dt>Email:</dt>
                    <dd><a href="mailto:#">shophajino@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>Điện thoại :</dt>
                    <dd>
                        <a>+84-8-3848-9197</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
</footer>