@model Shopping.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="col-lg-9 offset-3">
        <div class="card mt-4">
            <img class="card-img-top img-fluid" src="@Model.thumbnail" alt="">
            <div class="card-body">
                <h3 class="card-title">@Model.name</h3>
                <h4>Giá: @Model.price đ</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars
                <a href="~/ShoppingCart/Order/@Model.id?quantity=1" " class="btn btn-outline-warning" style="position: absolute; right: 30px;">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
