@model Shopping.Models.Products

<div class="col-lg-3 col-md-6 mb-4">
    <div>
        <a href="~/Home/Details/@Model.id" style="text-decoration: none">
            <div class="card h-100">
                <img class="card-img-top" src="@Model.thumbnail"  width="250" height="250">
                <div class="card-body">
                    <h4 class="card-title">@Model.name</h4>
                    <p class="card-price">Giá: @Model.price đ</p>
                </div>
                <div class="card-footer">
                    <a href="~/ShoppingCart/Order/@Model.id?quantity=1" " class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </a>
    </div>
</div>


